/*---[Resets Import]---*/

@import url(../stylesheets/resets.css);

/*---[Custom Styles]---*/

/*Variables*/
:root {
  --primary: ;
  --secondary: ;
  --darktext: #000000;
  --lighttext: rgb(160, 160, 160);
}

/*Global*/
html {
  font-size: 16px;
}

body {
  font-family: "KoHo", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  margin: 20px 0;
  background: whitesmoke;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 1380px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

.padding {
  padding: 5rem 0;
}

a {
  text-decoration: none;
}

/*Flex*/

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.flex-wrap{
  flex-wrap: wrap-reverse;
}

.flex-20 {
  flex: 0 1 20%;
}

.flex-25 {
  flex: 0 1 25%;
}

.flex-30 {
  flex: 0 1 30%;
}

.flex-32 {
  flex: 0 1 32%;
}

.flex-40 {
  flex: 0 1 40%;
}

.flex-47 {
  flex: 0 1 47%;
}

.flex-50 {
  flex: 0 1 50%;
}

.flex-60 {
  flex: 0 1 60%;
}

/*Buttons*/

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  outline: none;
  border: none;
}

.btn-primary {
  color: #fff;
  /* background-color: ; */
  border: 1px solid darkgray;
}

.btn-secondary {
  /* color: ; */
  background-color: #fff;
  border: 1px solid darkgray;
}

/*Images*/

.font-0 {
  font-size: 0;
}

.full-width {
  width: 100%;
  object-fit: cover;
}

/* Text  */

.text-center {
  text-align: center;
}

/*Position*/

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

/*Headings*/
h1 {
  font-size: 3rem;
  font-weight: 600;
}

.dashBoard {
  max-width: 560px;
  border: 2px solid black;
  border-radius: 0.35rem;
  margin: 0.5rem auto;
  padding: 1rem;
}

#game {
  max-width: 560px;
  border: 2px solid black;
  border-radius: 0.35rem;
  margin: 1rem auto;
  padding: 1rem;
}

.cards {
  height: 8rem;
  width: 8rem;
  border: 1px solid blue;
  border-radius: 0.25rem;
}

.cover{
  height: 8rem;
  width: 8rem;
  border: 4px solid rgb(182, 127, 54);
  border-radius: 0.25rem;
  background-color: blue;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
}